<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Enter title of the book: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="search"/>
</form>
<br/>
<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <p>Book not found</p>
    </div>

    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>

        <div th:if="${book.getOwner() != null}">
            <p th:text="${'The book was taken by ' + book.getOwner().getName()}">person name</p>
        </div>

        <div th:if="${book.getOwner() == null}">
            <p>Book is free</p>
        </div>
        <hr/>
    </div>
</div>
</body>
</html>